*, *::before, *::after {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: lightslategray;
    color: white;
}

h1 {
    margin-left: 3%;
    flex-basis: 67%;
}

.navbar ul {
    display: flex;
    flex-basis: 33%;
    list-style-type: none;
}

.navbar li {
    margin-right: 5em;
}

body {
    margin: 0;
}

.category {
    margin-left: 3rem;
    margin-bottom: 0;
    font-size: 1.3em;
}

.top_movie {
    display : grid;
    grid-auto-columns: auto;
    margin-bottom: 4rem;
    background-color: rgba(0, 0, 0, 0.08);
    height: fit-content;
}

.top_movie__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
}

.movie_title {
    font-weight: bold;
    margin: 0.25em 0;
}

.top_movie img {
    object-fit: cover;
    grid-column: 2;
    padding-left: 0.5rem;
    min-width: 50vmin;
    max-width: 50vmax;
}

.carousel {
    display : flex;
    justify-content: center;
    overflow: hidden;
}

.carousel__content {
    display: flex;
    flex-grow: 1;
    margin: 0 0.25rem;
    transition: transform 0.25s ease-in-out;
}

.carousel__movie {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0.25rem;
}

.carousel__content img {
    object-fit: cover;
    width: 100%;
}

.carousel__prev,
.carousel__next {
    border: none;
    border-radius: 1rem;
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    margin: 0.25rem 0;
    cursor: pointer;
    transition: font-size 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.carousel__prev:hover,
.carousel__prev:focus,
.carousel__next:hover,
.carousel__next:focus {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 6.5rem;
}

.carousel__prev {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.carousel__next {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.modal {
    background: #ccc;
    position: fixed;
    width: auto;
    min-width: 25%;
    height: auto;
    padding: 2em;
    border-radius: 10px;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal--hidden {
    display: none;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    color: #000;
}

.modal__header__title {
    margin: 0;
}

.modal__header__close {
    background: transparent;
    border: none;
    font-size: 2em;
}

.modal__header__close:hover {
    color: #fa5252;
}

.modal__content__main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.5em;
}

.modal__content__main p {
    margin-left: 2em;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.blur--hidden {
    display: none;
}